body
{
    background-color:#303030;
    color:#ffffff;
    font-family: 'Roboto', ;
    font-size: 20px;
}
#logo
{
    width: 100%;
    height: 50px;
    font-size: 36px;
    text-align: center;
   
    padding:5px 0px 5px 0px;
    letter-spacing: 3px;
   
}
#container
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 878px;
    padding: 10px;
}
    
#spis
{
    width: 780px;
    padding-left: 100px;
}
ol
{
    margin-top: 5px;
}

ol>li
{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    letter-spacing:3px;
    margin-top: 30px;
}
ol>li>ul>li
{
 
    margin:10px;
   
}
