<!DOCTYPE HTML>

<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>PbMobileAPI</title>
    <link href="../static/css/documentation.css" th:href="@{/css/documentation.css}" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>
<div id="logo">PbMobileAPI <br/> https://pbmobilespringbootapi.herokuapp.com</div>

<div id="container">
    <div id="spis">
        <ol>

            <li>Test ("/test")</li>
            <ul>
                <li>GET "/fellDb" - Wstawia przykładowe dane do wszystkich tabeli.</li>
            </ul>

            <li>USER ("/user")</li>
            <ul>
                <li>GET "/getAll" - pobiera wszystkich użytkowników</li>

                <li>GET "/{id}" - zwraca id, ilość punktów i nickname użytkownika na podstawie id podanego w adresie
                </li>

                <li>GET "/profile/{id}" - zwraca użytkownika na podstawie id podanego w adresie</li>

                <li>PUT "/updateUser/{id}" - edytuje użytkownika o podanym id w adresie, dane użytkownika podawane są w
                    JSON(ta sama struktura co przy addUser), zwraca zaktualizowanego użytkownika
                </li>

                <li>DELETE "/deleteUser/{id}" - usuwa użytkownika z podanym id</li>

                <li>POST "/register" - dodaje użytkownika, dane podawane w JSON, zwraca dodanego użytkownika, jeżeli
                    dodawany użytkownik ma takie samo uid albo email jak użytkownik już zarejestrowany, zwracam
                    użytkownika który był już w bazie
                    <br> Struktura JSON-a (jeżeli adres lub firma jest już w bazie wystarczy podać jej ID)<br>
                    <b>
                        {"uid": "uid2","nickname": "Ziomus2","email": "ziomu2s@gmail.com","nip": "9876543212","address":
                        {"country": "Chiny","voivodeship": "Małopolska2","city": "Kraków2","street":
                        "Pilotów","buildingNumber": "12","apartmentNumber": "4","zipCode": "32-333" },"company":
                        {"name": "Firma1Name2",
                        "nip": "12345698792","address": {"country": "Polska","voivodeship": "Małopolskie","city":
                        "Kraków","street": "Nieznana","buildingNumber": "13","apartmentNumber": "3","zipCode":
                        "32-354"}, "regon": "654654456" } }
                    </b>
                    <br> Struktura JSON-a (wersja krótsza) <br>
                    <b>
                        { "uid": "uid2", "nickname": "Ziomus2", "email": "ziomu2s@gmail.com" }
                    </b>
                </li>
            </ul>

            <li>AdminList ("/adminList")</li>
            <ul>
                <li>POST "/addAdmin" - dodaje admina na podstawie emaila przesłanego w JSON. Jeżeli email jest już w
                    bazie, nie dodaje go ponownie, lecz zwracam obiekt istniejącego Admina. Jeżeli emaila nie było w
                    bazie, zapisuje go i zwracam obiekt utworzonego Admina.
                    <br> Struktura JSON-a <br>
                    <b>
                        { "email": "ziomu2s@gmail.com", "userType": "OWNER" }
                    </b>
                </li>

                <li>GET "/checkEmail" - sprawdza czy jest zapisany w bazie danych Admin z emailem podanym w JSON. Jeżeli
                    tak, zwracam objekt admina.
                </li>

                <li>DELETE "/deleteAdmin/{id}" - usuwa admina z bazy danych o podanym id w adresie</li>

                <li>PUT "/updateProductPrice/{idProduct}?price=4.25" - robi update ceny produktu o podanym id</li>
            </ul>

            <li>ADDRESS ("/address")</li>
            <ul>
                <li> POST "/addAddress" - dodaje adres podany w JSON, zwraca dodany adres
                    <br> Struktura JSON-a <br>
                    <b>
                        {"country": "Polska","voivodeship": "Małopolskie","city": "Kraków","street":
                        "Nieznana","buildingNumber": "13","apartmentNumber": "3","zipCode": "32-354"}
                    </b>
                </li>

                <li>GET "/getAll" - zwraca wszystkie adresy</li>

                <li>GET "/getAddress/{id}" zwraca adres o podanym w adresie id</li>

                <li>PUT "/updateAddress/{id}" - aktualizuje adres o danym id zawartym w adresie, dane adresu podaje się
                    w JSON, zwraca zaktualizowany adres
                </li>

                <li>DELETE "/deleteAddress/{id}" - usuwa adres o danym id zawartym w adresie</li>


            </ul>

            <li>COMPANY ("/company")</li>
            <ul>
                <li>GET "/getAll" - zwraca wszystkie firmy</li>

                <li>GET "/getCompanyById/{id}" - zwraca firme o podanym w adresie ID</li>

                <li>GET "/getCompanyByUser/{id}" - zwraca firme przypisaną do danego usera. Jeżeli User nie ma przypisanej firmy zwraca null.</li>

                <li>GET "/getCompanyByNIP/{nip}" - zwraca firme o podanym w adresie numerze NIP</li>

                <li>GET "/getCompanyByRegon/{regon}" - zwraca firme o podanym w adresie numerze Regon</li>

                <li>POST "/addCompany/idUser" - dodaje firme zawartą w JSON, jeżeli firma z danym nipem już istnieje zwraca
                    ErrorMessage w postaci JSON (errorNumber 1001, errorMessage: "W bazie danych znajduje się firma " +
                    company.getName() + " z podanym numerem NIP." Jeżeli firma zostanie dodana, w odpowiedzi zwracana
                    jest ta firma. Po udanym dodaniu firmy, zostaje ona przypisana do danego usera.
                    <br> Struktura JSON-a <br>
                    <b>
                        "company": {"name": "Firma1Name2", "nip": "12345698792","address": {"country":
                        "Polska","voivodeship": "Małopolskie","city": "Kraków","street": "Nieznana","buildingNumber":
                        "13","apartmentNumber": "3","zipCode": "32-354"}, "regon": "654654456" }
                    </b>
                </li>

                <li>PUT "/updateCompany/{id}" - aktualizuje firmę z podanym id w adresie, dane firmy powinny być
                    przesłane w JSON, zwracana jest zaktualizowana firma
                </li>

                <li>DELETE "/deleteCompany/{id}" - usuwana jest firma z podanym id w adresie</li>
            </ul>

            <li>Product ("/product")</li>
            <ul>
                <li>GET "/getAll" - zwraca wszystkie produkty z bazy danych</li>

                <li>GET "/getProductById/{id}" - zwraca product o podanym w adresie ID</li>

                <li>GET "/getProductsByCategory/{category}" - zwraca product o podanej w adresie kategorii</li>

                <li>POST "/addProduct" - dodaje produkt zawarty w JSON, jeżeli produkt o identycznej nazwie i kategorii
                    już istnieje, zwraca obiekt produktu istniejącego. Jeżeli produkt nie istniał, zostaje zwrócony
                    obiekt utworzonego obiektu.
                    <br> Struktura JSON-a <br>
                    <b>
                        { "productName": "ON", "priceNetto": 4.4, "priceBrutto": 5.41, "category": "Petrol" }
                    </b>
                </li>

                <li>PUT "/updateProduct/{id}" - aktualizuje produkt z podanym id w adresie, dane produktu powinny być
                    przesłane w JSON, zwracany jest obiekt zaktualizowanego obiektu </li>

                <li>DELETE "/deleteProduct/{id}" - usuwany jest produkt z podanym id w adresie</li>
            </ul>

            <li>Loylaty Product ("/loyaltyProduct")</li>
            <ul>
                <li>GET "/getAll" - zwraca wszystkie produkty lojalnościowe z bazy danych</li>

                <li>GET "/getLoyaltyProductById/{id}" - zwraca product lojalnościowy o podanym w adresie ID</li>

                <li>PUT "/changePointsToLoyaltyProduct/{idUser}/{idLoyaltyProduct}" - wymiana punktów na produkt.</li>

                <li>PUT "/updateLoyaltyProduct/{idProduct}/{points}" - update produktu lojalnościowego.</li>

                <li>POST "/addLoyaltyProduct/{idProduct}/{points}" - dodaje produkt lojalnościowy z produktem o id podanym w adresie i o ilości punktów podanej w adresie.</li>

                <li>DELETE "/deleteLoyaltyProduct/{id}" - usuwana jest informacja o produkcie lojalnościowym z podanym
                    id w adresie
                </li>
            </ul>

            <li>Receipt ("/receipt")</li>
            <ul>
                <li>GET "/getAll" - zwraca wszystkie paragony</li>

                <li>POST "/saveReceipt" - zapisuje paragon w bazie podany w JSON i zwraca utworzony obiekt paragonu. Dodaje odpowiednią ilość punktów dla Usera. Jeżeli dotyczy zakupu paliwa, dodaje wpis do historii tankowania.
                    <br> Struktura JSON-a <br>
                    <b>
                        { "userId":1, "paymentMethod": "blik", "nip": "6547345676", "positionsOnReceipt": { "productId":4, "quantity": 25.5 } }
                    </b>
                </li>
                <br>

                <li>GET "/updatePaymentMethod/{id}" - aktualizuje formę płatności paragonu o id podanym w adresie. Formę
                    płatności przesyła się w JSON. W odpowiedzi wysyłam zaktualizowany obiekt paragonu.
                </li>
            </ul>

            <li>Invoice ("/invoice")</li>
            <ul>
                <li>POST "/saveInvoice" - dodaje fakturę zawartą w JSON i zwraca utworzony obiekt faktury. Dodaje odpowiednią ilość punktów dla Usera. Jeżeli dotyczy zakupu paliwa, dodaje wpis do historii tankowania.
                    <br> Struktura JSON-a <br>
                    <b>
                        { "paymentMethod": "przelew", "paymentTermDay": 21, "positionsOnReceipt": { "quantity": 20.0,
                        "productId": 1}, "userId":1, "company": { "id": 1 } }
                    </b>
                </li>
                <br>

                <li>GET "/getAll" - zwraca wszystkie faktury</li>

                <li>GET "/updatePaymentMethod/{id}" - aktualizuje formę płatności faktury o id podanym w adresie. Formę
                    płatności przesyła się w JSON. W odpowiedzi wysyłam zaktualizowany obiekt faktury.
                </li>

                <li>GET "/updateCompanyOnInvoice/{id}" - aktualizuje firmę przypisaną do faktury o id podanym w adresie.
                    Dane nowej firmy przesyła się w JSON. W odpowiedzi wysyłam zaktualizowany obiekt paragonu.
                </li>
            </ul>

            <li>Magazine Position (stan produktów na stacji) ("/magazinePosition")</li>
            <ul>
                <li>GET "/getAll" - zwraca wszystkie stany magazynowe</li>

                <li>GET "/getMagazinePetrolStatus" - zwraca poziom paliwa na stacji w %.</li>

                <li>PUT "/refuelToMaxLevel/{idProduct}" - uzupełnia ilość paliwa na stacji do 100%</li>

                <li>GET "/getQuantityByProductId/{id}" - zwraca stan magazynowy dla produktu o id zawartym w adresie
                </li>

                <li>POST "/addMagazinePosition" - dodaje stan magazynowy, który jest przesłany w JSON. Zwraca dodany
                    stan magazynowy. Jeżeli do danego produktu jest zapisany już stan magazynowy zwracam error message
                    (kod błędu 4001).
                    <br> Struktura JSON-a <br>
                    <b>
                        { "quantity" : "22.43", "product" : { "id" : 3 } }
                    </b>
                </li>

                <li>PUT "/updateQuantity/{id}" - aktualizuje stan magazynowy z id podanym w adresie. Nowy stan
                    magazynowy należy przesłać w JSON. Jeżeli stan magazynowy z podanym id nie istnieje, zwracam error
                    message z kodem 4004
                </li>

                <li>DELETE "/deleteMagazinePosition/{id}" - Usuwa stan magazynowy z id podanym w adresie. Jeżeli stan
                    magazynowy z podanym id nie istnieje, zwracam error message z kodem 4004
                </li>
            </ul>

            <li>RefuelingHistory ("/refuelingHistory")</li>
            <ul>
                <li>GET "/getAll" - pobiera wszystkie wpisy historii tankowania</li>

                <li>GET "/getAllByUser/{idUser}" - pobiera wszystkie wpisy historii tankowania przypisane do danego
                    użytkownika, którego id podaje się w adresie.
                </li>
            </ul>

            <li>Reservation ("/reservation")</li>
            <ul>
                <li><b> Każda rezerwacja jeżeli jest starsza od aktualnej daty i godziny jest nieaktywna(ale nie jest
                    usuwana z bazy danych). </b></li>

                <li>GET "/getAll" - zwraca wszystkie rezerwacje z bazy danych.</li>

                <li>GET "/getAvailableTerms/04.04.2020" - zwraca listę dostępnych terminów na dzień podany w adresie.</li>

                <li>GET "/getAllByUser/{id}" - zwraca wszystkie rezerwacje z bazy danych przypisane do danego Usera (id
                    Usera podaje się w adresie).
                </li>

                <li>GET "/getAllActive" - zwraca wszystkie aktywne rezerwacje z bazy danych.</li>

                <li>GET "/getImmediateAvailableTerm" - zwraca najbliższy wolny termin.</li>

                <li>GET "/getHistoryByUser/{idUser}" - zwraca historie rezerwacji dla danego usera.</li>

                <li>GET "/getAllActiveByUser/{id}" - zwraca wszystkie aktywne rezerwacje z bazy danych przypisane do
                    danego Usera (id Usera w adresie).
                </li>

                <li>DELETE "/deleteReservation/{id}" - usuwa rezerwację z bazy danych o podanym w adresie id. Jeżeli
                    rezerwacja z danym ID nie istnieje zwraca Error message(4004).
                </li>

                <li>POST "/add/{idUser}" - dodaje rezerwacje do bazy danych. Przy dodawaniu sprawdzam, czy w danym terminie i o
                    danej godzinie w przedziale +/- 20 min nie ma innej rezerwacji(jeżeli jest zwracam error message
                    4005).
                    <br> Struktura JSON-a <br>
                    <b>
                        { "dateOfReservationString" : "28.03.2020 13:00", "type" : "Myjnia z woskowaniem" }
                    </b>
                </li>
            </ul>

            <li>InfoApp ("/infoApp")</li>
            <ul>
                <li>GET "/getInfo" - zwraca info niezbędne do wyświetlenia informacji o aplikacji</li>

                <li>put "/updateInfo" - robi update danych
                    <br> Struktura JSON-a <br>
                    <b>
                        { "address": { "country": "Chiny", "voivodeship": "Małopolska2", "city": "Kraków2", "street":
                        "Pilotów", "buildingNumber": "12", "apartmentNumber": "4", "zipCode": "32-333" }, "company": {
                        "name": "Firmaaa1Name2", "nip": "12345698792", "address": { "country": "Polska", "voivodeship":
                        "Małopolskie", "city": "Kraków", "street": "Nieznana", "buildingNumber": "13",
                        "apartmentNumber": "3", "zipCode": "32-354" }, "regon": "654654456" }, "telephoneNumber":
                        "601807514", "ownerName": "Zenek Nowak" }
                    </b>
                </li>
            </ul>
        </ol>
        <br><br><br><br>
        <ul>
            <b>Error message</b>

            <li><b>4001 EXIST OTHER OBJECT</b> Leci w momencie, kiedy próbujemy wstawić nowy element ale identyczny jest
                już zapisany w bazie danych.
            </li>

            <li><b>4002 NULL ARGUMENT</b> Leci w momencie, kiedy prześlemy pustego JSONA a jest on wymagany lub jeżeli
                prześlemy np. paragon bez ID Usera.
            </li>

            <li><b>4003 RESERVATION IN PAST</b> Leci w momencie, kiedy User próbuje zrobić rezerwacje na termin w
                przeszłości.
            </li>

            <li><b>4004 NOT FOUND</b> Leci w momencie, kiedy wstawiamy do bazy danych np. reserwacje na myjnie i w
                parametrach podaliśmy błędne ID Usera.
                Dotyczy praktycznie wszystkich sytuacji, kiedy podajemy ID danego obiektu, również podczas usuwania czy
                edycji.
            </li>

            <li><b>4005 EXIST OTHER RESERVATION</b> Leci w momencie, kiedy User próbuje zarezerwować myjnie w zajętym
                terminie.
            </li>

            <li><b>4006 LOGIN FAILED</b> Leci w momencie, kiedy nie ma użytkownika w bazie danych z podanym w JSON UID.
            </li>
        </ul>
    </div>
</div>

</body>
</html>